.App {
  text-align: center;
  margin: 10% 40%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#pad{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
button{
  background-color: rgb(0, 70, 128);
  color: white;
  height: 100px;
  font-size: 30px;
  border-radius: 10px;
  width: 100%;
  font-weight: bolder;
  border: 2px solid yellow;
}
button:hover{
  transform: scale(1.2)
}
body{
  background-color: black;
  color: whitesmoke;
  font-size: 50px;
}