.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#calculator{
  position: fixed;
  left: 40%;
}
#display{
  font-size: 50px;
  background-color: rgb(28, 28, 59);
  text-align: center;
  color: white;
  height: 100px;
  padding: 20px 0;
}
button{
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 25px;
}
#clear{
  background-color: red;
}
#equals{
  background-color: purple;
}
h3{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}
