.App {
  margin: 100px 10%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#time{
  position: relative;
  left: 50%;
  border: 10px dotted greenyellow;
  top: 100px;
  border-radius: 40px;
  padding: 20px 10px;
}
body{
  background: rgb(82, 39, 39);
  color: white;
}
button{
  font-size: 15px;
  color: black;
  font-weight: bolder;
}
